@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* {
  color: #000000;
  font-family: 'Arimo';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}