.card {
    width: 920px;
    height: 200px;
    margin-top: 16px;
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
}

.block {
    flex: 1;
    margin: 24px 0 0 0;
    display: flex;
    flex-direction: column;
}

.leftblock {
    composes: block;
}

.asteroid {
}

.dino {
    position: relative;
    right: 100px;
    top: 57px;
}

.centerblock {
    composes: block;
    display: flex;
}

.centerblock > div {
    flex: 1;
}

.rightblock {
    display: flex;
    flex-direction: column;
    composes: block;
}

.rightblock > div {
    flex: 1;
}

.dangerousCard {
    composes: card;
    background: linear-gradient(90deg, #FFB199 0%, #FF0844 100%);
}

.harmlessCard {
    composes: card;
    background: linear-gradient(90deg, #CFF37D 0%, #7DE88C 100%);
}

.name {
    text-decoration-line: underline;
    font-weight: 700;
    font-size: 24px;
}

.data {
    display: flex;
    flex-direction: column;
}

.grade {
    font-weight: 700;
}

.submit {
    background: #186DD6;
    border-width: 0;
    border-radius: 24px;
    color: white;
    width: 158px;
    height: 48px;
}